/* anything in a style tag is in css*/
        /* you can also use "link" to have the same style on multiple pages*/
        body{
            background: rgb(243, 243, 243);
            color: white;
            margin: 0;
            padding: 0;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        header{
            background: rgb(233, 233, 233);
            background: darkslategray;
            margin: 0 auto 30px auto; /*10 up and down 20 left and right*/
            padding: 15px 5vw 15px 5vw;
            border-bottom: 2px solid grey;
            box-shadow: 0 0 10px grey;
        }
        section {
            background-color: grey;
            color: grey;
            padding: 20px;
            margin: 10px 15px;
            display: flex;
            flex-direction: row;
        }

        .photo {
            display: flex;
            margin: auto;
            flex-direction: row;
            height: 20vw;
            width: 20vw;
            max-width: 200px;
            max-height: 200px;
            border-radius: 200px;
            box-shadow: 5px 5px 10px rgb(108, 108, 108);
            background-color: rgb(98, 98, 98);
            outline: rgb(57, 57, 57) solid 4px;
        }

        section div {
            padding: 5px 20px;
            margin: 10px 15px;
        }
        section.triple-display.middle-section {
            background-color: rgb(231, 231, 231);
        }
        .triple-display div {
            font-size: 130%;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }

        li{
            display: inline-flex;
            flex-direction: row;
            padding: 0 5px;
            margin: auto;
        }

        .nav-li:hover {
            outline: rgb(87, 87, 87) 2px solid;
        }

        .list-left {
            padding: 100px;
            float:left;
        }

        .list-right {
            padding: 100px;
            float:right;
        }

       footer {
            background: darkslategray;
            padding: 5px;
            width: 100%;
            bottom: 0;
            flex: 1;
            min-height: 200px;
        }

        .navigation {
            
            margin: 0;
            padding: 10px;
        }


        .nav-bar {
            background-color: rgb(207, 203, 203);
            background: rgb(215, 215, 215);
            box-shadow: 0px 0px 4px rgb(34, 34, 34); 
            font-size: 150%;
            border-radius: 4px;
            width: 90vw;
            height: 15%;
            min-height: 60px;
        }

        a {
            text-decoration: none;
        }

        a:hover {
            color:black;
        }

        ul.navigation li:hover {
            background-color: rgb(164, 164, 164);
            border-radius: 2px;
            box-shadow: 0px 2px 2px grey;            
        }

        .big-header {
            color: black;
            padding: 0 0 0 30px;
        }

        .nav-page {
            color: rgb(45, 45, 45);
            font-weight: bolder;
            font-size: 20px;
            padding: 5px;
        }

        .nav-language {
            justify-content: flex-end;
            margin-left: 60px;
            margin-right: 0;
        }

        .section-header {
            background-color: rgb(233, 233, 233);
            background-color: rgb(164, 174, 184);
            padding: 2vh 0 2vh 3vw;
            font-size: 25px;
            font-weight: bold;
            color: rgb(51, 51, 51);
            box-shadow: 0px 1px 2px grey;
        }

        .section-text {
            margin: 20px 20vw 15vh 20vw;
            border-top: 1px solid rgb(122, 122, 122);
            border-bottom: 1px solid rgb(122, 122, 122);
            box-shadow: 0px 0px 2px grey;
        }

        .normal-text {
            margin: 0px -5vw;
            padding: 15px 0 40px 0;
            color: rgb(24, 24, 24);
            background: rgb(243, 243, 243);
        }

        .current-nav{
            color:rgb(91, 91, 91);
        }

        @media screen and (max-width: 600px) {

            .nav-page {  
                font-size:17.5px;
                padding: 2px;
            }
        }