/* anything in a style tag is in css*/
        /* you can also use "link" to have the same style on multiple pages*/
        body{
            background: rgb(243, 243, 243);
            color: white;
            font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
            margin: 0;
            padding: 0;
        }

        header{
            background: rgb(233, 233, 233);
            margin: 10px 20px; /*10 up and down 20 left and right*/
            padding: 20px 5% 20px 5%;
        }
        section {
            background-color: grey;
            color: grey;
            padding: 20px;
            margin: 10px 15px;
            display: flex;
            flex-direction: row;
        }

        .photo {
            display: flex;
            margin: auto;
            flex-direction: row;
            height: 20vw;
            width: 20vw;
            max-width: 200px;
            max-height: 200px;
            border-radius: 200px;
            box-shadow: 5px 5px 10px rgb(108, 108, 108);
            background-color: rgb(98, 98, 98);
            outline: rgb(57, 57, 57) solid 4px;
        }

        section div {
            background-color: lightgoldenrodyellow;
            padding: 5px 20px;
            margin: 10px 15px;
        }
        section.triple-display.middle-section {
            background-color: rgb(231, 231, 231);
        }
        .triple-display div {
            font-size: 130%;
        }

        div {
            background: rgb(229, 229, 229);
            margin: auto;
            width: 100px;
            height: 30px;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }

        li{
            display: inline-flex;
            flex-direction: row;
            justify-content: right;
            padding: 0 10px;
        }

        .nav-li:hover {
            outline: rgb(87, 87, 87) 2px solid;
        }

       footer {
            background: darkslategray;
            padding: 5px;
            margin: 1px 15px;
        }

        .navigation {
            background-color: rgb(207, 203, 203);
            font-size: 150%;
            border-radius: 2px;
            margin: 0;
            padding: 10px;
        }

        a {
            text-decoration: none;
        }

        a:hover {
            color:black;
        }

        ul.navigation li:hover {
            background-color: rgb(164, 164, 164);
        }

        .big-header {
            color: black;
            padding: 0 0 0 30px;
        }

        .nav-page {
            color: rgb(45, 45, 45);
            font-weight: bolder;
            font-size: 20px;
            padding: 5px;
        }

        .nav-language {
            justify-content: flex-end;
            margin-left: 60px;
            margin-right: 0;
        }